
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primery-bg-color: #f5f4fa;
  --header-logo-color: #000;
  --footer-logo-color: #fff;
  --footer-bg-color: #2f303a;
  --company-bg-color:#E5E5E5;
}
/* основной фон */
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  
}
/* контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
 padding-top: 94px;
  padding-bottom: 94px;
  justify-content: center;
}
/* логотип */
.page-header {
  border-bottom: 1px solid #ECECEC;;
}
.kontainer-header {
  display:flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-header {
  color: var(--header-logo-color);
}
.main-nav {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
/* навигацыя хедера */
.site-nav-list {
  display: flex;
  margin-left: 93px;
}
.site-nav-list .item {
  margin-right: 50px;
}
.site-nav-list .item:last-child {
  margin-right: 0;
}
.auth-nav-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.auth-nav-list .item +.item {
  margin-left: 50px;
}

.auth-nav-list::before {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    background-image: url(../icon.svg/envelope.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content:"";
}
.icon-tel::before{
  display: inline-block;
  content: "";
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../icon.svg/Vector.svg);
}

.icon {
display: flex;
align-items: center;
justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--primery-bg-color);
  border-radius: 4px;
}
.icon-company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  background-color: var(--company-bg-color);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  margin-right: 30px;
}
.icon-company-list .item:last-child{
  margin-right: 0px;
}
.icon-company-list {
  display: flex;
  justify-content: center;
}

.auth-link {font-family: Roboto,
sans-serif;
font-style: normal;
color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.feature-list .item::before {
  background-color: var(--primery-bg-color);
  width: 270px;
  height: 120px;
}
.auth-link-tel:hover {
  color: var(--accent-color);
}
.auth-link-tel:focus{
  color: var(--accent-color);
}

/* ссылки */
.auth-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* состояние наведения */
.auth-link:hover {
  color: var(--accent-color);
}

/* состояние в фокусе */
.auth-link:focus {
  color: var(--accent-color);
}
/* навигацыя сайта */
.link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  
}
/* состояние наведения */
.link:hover {
  color: var(--accent-color);
}

.link.current{
  color: var(--accent-color);
  display: block;
}

/* состояние в фокусе */
.link:focus {
  color: var(--accent-color);
}
/* герой */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--header-logo-color);
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)),
url(../img-home-work2/Img9.jpg);

 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
  text-align: center;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  
}
.hero-title {
  color: var(--footer-logo-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* кнопка веб студии */
.button-primery {
  display: inline-block;  
  cursor: pointer;
  font-family: Roboto;
  color: #fff;
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  
}
.feature-list {
  display: flex;

}

.feature-list .item {
  margin-right: 30px;

}

.feature-list .item:last-child {
  margin-right: 0px;
}


.section-title {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

}

.section-text {
  color: var(--title-text-color);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
}

/* чем мы занимаемся */
.development {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  
}
img {
  display: block;
  max-width: 100%;
}
.photo-list {
  display: flex;
}

.photo-list .item {
  margin-right: 30px;
}

.photo-list .item:last-child {
  margin-right: 0px;
}
.photo-card {
  display: flex;
}

.photo-card .item {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.photo-card .item:last-child{
  margin-right: 0;
}
/* наша команда */
.command {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin-bottom: 50px;
}
.card-item {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* имя сотрудника */
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
}
/* должность */
.profession {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.project {
  display: flex;
  flex-wrap: wrap;
 
}
.project .item {
  margin-right: 30px;
  margin-bottom: 30px;
  
 
}
.card-project {
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 24px;
 padding-right: 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.project .item:nth-child(3n) {
  margin-right: 0;
}
.project .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}







.logo-footer {
  color: var(--footer-logo-color);
}

/* список */
ul {
  list-style: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}













.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}





/* цвет абзаца */






.geolocation {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: var(--footer-logo-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* кнопки портфолио */
.button-secondary {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  cursor: pointer;
  color: var(--primary-text-colora);
  background-color: var(--primery-bg-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  text-align: center;
  border: transparent;
  
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list .item {
  margin-right: 8px;
}
.button-list .item:last-child{
  margin-right: 0;
}

/* состояние ховер */
.button-secondary:hover {
  color: #fff;
  background-color: var(--accent-color);
}
/* состояние фокус */
.button-secondary:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}
.card-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  
  
}

.footer-page {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;

}
.footer-nav-list {
 
  margin-top: 20px;
}
.footer-nav-list .item {
  margin-bottom: 9px;
}
.footer-nav-list .item:last-child{
  margin-bottom: 0px;
}